.ui-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: antiquewhite;
}
.ui-main-canvas {
    min-height: 500px;
    background-color:antiquewhite;
}
.ui-main {
    margin-top: 5px;
    background-color:antiquewhite;
}
.ui-tool-panel {
    min-height: 500px;
    background-color: antiquewhite;
}
.ui-control-panel {
    height: 470px;
    margin-top: 5px;
    border-radius: 5px;
}
.labelValue {
    position: relative;
    bottom: 4px;
    padding-left: 20px;
}
#canvas {
    min-width: 100%;
}
.c-gray {
    color: gray;
}